@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}
.card{
    width: 200px;
    height: 300px;
    border-radius: 25px;
    margin: 120px auto 0;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.4);
    position:relative;
    font-size:70px;
    font-weight: 100;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background:white;
    
}
.num-top{
    top:10px;
    left:15px;
}
.num-bottom{
    float: right;
    bottom:10px;

    transform:rotate(180deg);
}
.num-card{
    font-size:100px ;
}